.sidemenu li a, .form-text a, .table a {
    text-decoration: none;
}

.table i {
    margin-right: 5px;
    margin-left: 10px;
}

/*
.sidemenu li a:hover, .form-text a:hover, .table i:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

.menu-indented {
    margin-left: 30px;
}
 */

